<div class="worker-card" [class.selected]="worker.isSelected">
    <div class="worker-image">
        <img src="./assets/icons/miner-status.svg" alt="Worker Image">
    </div>
    <div class="worker-info">
        <h3>{{ worker.name }}</h3>
        <p class="status">Status: <span>{{ worker.status }}</span></p>
        <p [class.is-busy]="worker.isBusy">Busy: <span>{{ worker.isBusy ? 'Yes' : 'No' }}</span></p>
        <p class="carried-gold">Carried Gold: <span>{{ worker.carriedGold }}</span></p>
    </div>
</div>