:host {
    background-color: #28a745;
    text-align: center;
}

.gridCell {
    width: 4em;
    /* Vagy más mértékegység, ami megfelel az igényeidnek */
    height: 4em;
    border: 1px solid #fff;
    /* Opcionális: keret a cellák közötti határok láthatóságához */
}
