:host {
    background-color: #28a745;
    text-align: center;
}

.gridCell {
    width: 4em;
    height: 4em;
    border: 1px solid #fff;
}

img.place {
    height: 60px; 
}

.selected.place {
    border: 1px solid red;
}

