.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.modal-content button {
    width: 100%;
    cursor: pointer;
    background-color: #005c20;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #004f1a
}

.game-components {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

app-game-status {
    width: 370px;
}

app-game-playground {
    flex-grow: 1;
}