.barrack-card {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.barrack-card.selected {
    background-color: #007bff;
    color: #fff;
}

.barrack-image img {
    max-height: 60px;
    max-width: 60px;
    /*border-radius: 50%;*/
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.barrack-info {
    flex-grow: 1;
    padding-left: 10px;
    text-align: justify;
}

.barrack-info h3 {
    font-size: 1.2em;
    margin: 0;
}

.barrack-info p {
    margin: 5px 0;
}

.barrack-info p span {
    font-weight: bold;
}

.barrack-info p.status {
    margin-top: 10px;
}

.barrack-info p.is-busy span {
    color: #ff5733;
}