<div class="card">
  <h2>Simple RTS Game</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username"
        [ngClass]="{ 'invalid': showErrorMessages && loginForm.get('username').invalid }" />
      <div *ngIf="showErrorMessages && loginForm.get('username').invalid" class="error-message">
        {{ getErrorMessage() }}
      </div>
    </div>

    <div class="form-group">
      <button type="submit">Login</button>
    </div>
  </form>
</div>