<div class="header">
    <span class="welcome-text">Welcome {{ user }}</span>
    <div class="logout-button" (click)="logout()">
        <img src="./assets/icons/logout.svg">
    </div>
</div>

<div class="status-container">

    <app-gold-status [gold]="currentGold"></app-gold-status>

    <div class="unit-section">
        <h2>Boss</h2>
        <app-game-boss [boss]="boss"></app-game-boss>
    </div>

    <div class="unit-section">
        <h2>Workers</h2>
        <app-game-worker *ngFor="let worker of workers" [worker]="worker"></app-game-worker>
    </div>

    <div class="unit-section">
        <h2>Barracks</h2>
        <app-game-barrack *ngFor="let barrack of barracks" [barrack]="barrack"></app-game-barrack>
        <button (click)="addBarrack()">Build Barrack</button>
    </div>

    <div class="unit-section">
        <h2>Warriors</h2>
        <app-game-warrior *ngFor="let warrior of warriors" [warrior]="warrior"></app-game-warrior>
        <button (click)="addWarrior()">Recruit Warrior</button>
    </div>

</div>