<div class="header">
    <span class="welcome-text">Welcome {{ user }}</span>
    <div class="repeat-button" (click)="repeat()">
        <img src="./assets/icons/repeat.svg">
    </div>
    <div class="logout-button" (click)="logout()">
        <img src="./assets/icons/logout.svg">
    </div>
</div>

<div class="status-container">

    <div *ngIf="testMode" class="unit-section">
        <h2>Test Mode</h2>
        <button (click)="increaseGold()">Increase gold</button>
        <button (click)="decreseGold()">Decrease gold</button>
        <button (click)="addDamage()">Lose HP of Boss</button>
    </div>

    <div class="unit-section">
        <h2>Gold</h2>
        <app-gold-status></app-gold-status>
    </div>

    <div class="unit-section">
        <h2>Boss</h2>
        <app-game-boss></app-game-boss>
    </div>

    <div class="unit-section">
        <h2>Workers</h2>
        <app-game-worker *ngFor="let worker of workers" (click)="selectWorker(worker)"
            [worker]="worker"></app-game-worker>
    </div>

    <div class="unit-section">
        <h2>Barracks</h2>
        <app-game-barrack *ngFor="let barrack of barracks" (click)="selectBarrack(barrack)"
            [barrack]="barrack"></app-game-barrack>
        <button [disabled]="!selectedWorker || gold < 250" (click)="buildBarrack()">Build Barrack</button>
    </div>

    <div class="unit-section">
        <h2>Warriors</h2>
        <app-game-warrior *ngFor="let warrior of warriors" (click)="selectWarrior(warrior)"
            [warrior]="warrior"></app-game-warrior>
        <button [disabled]="!selectedBarrack || gold < 200" (click)="makeWarrior()">Make Warrior</button>
    </div>

</div>